.expenses-form {
  align-items: flex-end;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 25px 0;
}

.expenses-form label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  gap: 5px;
  padding-left: 5px;
}

.expenses-form input {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-family: Sora, sans-serif;
  padding: 10px;
}

.expenses-form select {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-family: Sora, sans-serif;
  padding: 10px;
}

select option:checked {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  font-family: Sora, sans-serif;
  font-weight: 600;
}

select option:hover {
  box-shadow: 0 0 10px 100px #1882a8 inset;
}

.expenses-form button {
  background-color: rgb(0, 71, 0);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-family: Sora, sans-serif;
  font-weight: 500;
  height: fit-content;
  padding: 10px;
  width: 10%;
}

.expenses-form button:disabled {
  background-color: gray;
}

.expenses-form button:hover:enabled {
  background-color: green;
  cursor: pointer;
  font-weight: 600;
}

.expenses-form button:hover:disabled {
  cursor: not-allowed;
}

.value-input {
  appearance: textfield;
  width: 80%;
}

.value-input::-webkit-outer-spin-button , .value-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.value-label {
  width: 5%;
}

.description-label {
  width: 30%;
}

.description-label input {
  width: 95%;
}

.currency-label {
  width: 10%;
}

.currency-label select {
  width: 95%;
}

.method-label {
  width: 20%;
}

.method-label select {
  width: 95%;
}

.tag-label {
  width: 15%;
}

.tag-label select {
  width: 95%;
}

@media only screen and ( max-width : 600px ) {

  .expenses-form {
    align-items: center;
    flex-direction: column;
    width: 99vw;
  }

  .expenses-form label , .expenses-form button {
    font-size: 0.8rem;
    width: 90vw;
  }

  .expenses-form label input , .expenses-form label select {
    font-size: 0.7rem;
    width: 100%;
  }

  .expenses-form label input {
    width: 90%;
  }
}
