table {
  width: 100%;
}

thead , th {
  background-color: #363b46;
  padding: 20px 0;
}

tr , td {
  padding: 20px 0;
}

.buttons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

td button {
  border: none;
  border-radius: 5px;
  font-family: Sora, sans-serif;
  padding: 10px;
  width: 45%;
}

.edit-btn {
  background-color: rgb(7, 14, 22);
  color: whitesmoke;
  font-weight: 500;
}

.delete-btn {
  background-color: rgb(77, 3, 3);
  color: whitesmoke;
  font-weight: 500;
}

.edit-btn:hover {
  background-color: rgb(20, 42, 65);
  cursor: pointer;
}

.delete-btn:hover {
  background-color: rgb(112, 6, 6);
  cursor: pointer;
}

table h3 {
  display: none;
}

@media only screen and ( max-width : 600px ) {

  table {
    border-collapse: collapse;
    border-top: 1px solid white;
    font-size: 0.8rem;
    justify-self: center;
    margin: 10px 0;
    padding: 0 20px;
    width: 90%;
  }

  table h3 {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    padding: 20px 0;
  }

  tbody {
    border-top: 1px solid white;
  }

  tr {
    padding: 10px;
  }

  td {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  td:before {
    content: attr(data-th);
    font-weight: 700;
    text-align: left;
    width: 50%;
  }

  th:before {
    content: 'Despesa';
  }

  thead {
    display: none;
  }

  .buttons {
    justify-content: space-between;
  }

  .buttons:before {
    content: none;
  }

  .buttons button {
    width: 49%;
  }
}
