.login-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-page p {
  align-items: center;
  display: flex;
  height: 200px;
}

.login-box {
  align-items: center;
  background-color: rgb(34, 33, 33);
  border: 1px solid rgb(34, 33, 33);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 30px;
  width: 30%;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 15px;
  width: 100%;
}

.login-form input {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-family: Sora, sans-serif;
  padding: 10px;
  width: 90%;
}

.login-form button {
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-family: Sora, sans-serif;
  font-weight: 500;
  padding: 10px;
  width: 97%;
}

.login-form button:hover:enabled {
  background-color: rgba(136, 133, 133, 0.452);
  color: whitesmoke;
  cursor: pointer;
}

@media only screen and ( max-width : 600px ) {

  .login-box {
    padding: 10px 30px;
    width: 50%;
  }

  .login-form button:enabled {
    background-color: green;
    color: whitesmoke;
    cursor: pointer;
  }
}
