body {
  background-color: #383e49;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  font-family: Sora, sans-serif;
  justify-content: space-between;
  text-align: center;
  width: 100vw;
}

footer {
  background-color: black;
  bottom: 0;
  font-weight: 500;
  padding: 20px 0;
  position: absolute;
  width: 100%;
}

.sm-icons {
  filter: brightness(1000%);
  font-size: large;
}

@media only screen and ( max-width : 600px ) {

  body {
    align-items: center;
    justify-content: center;
    width: 90vw;
  }

  footer {
    font-size: 0.7rem;
    position: sticky;
    width: 100%;
  }

  .root {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
